@import "inSceneUI-sketcher";

.root {
  background-color: #0008;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
  & > * {
    padding: 3px;
    margin: 3px 3px 3px 0;
  }
}

.stage {
  display: flex;
  align-items: stretch;

  &.active > button:first-child {
    outline: 2px solid @alt-color;
    outline-offset: -2px;
  }

  .removeButton {
    margin-left: 2px;
    padding: 0 5px;
    background-color: @alt-color;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
